@model BarCodeLibrary.Request.SAP.Vichika.CreateBarCodeSaleOrder;
@{
    ViewData["Title"] = "Label BarCode SaleOrder";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap-grid.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <!-- Font Awesome JS -->
    <link href="~/css/styles.css" rel="stylesheet" />
    <script src="~/font icon/fontaws.js"></script>
    <script src="~/font icon/fonticons.js"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>
</head>
<style>
    body {
        /*margin: 0;*/
        margin: 0px 0px -20px 35px;
        background-color: #FFFFFF;
        padding: 0px 0px 0px 0px;
    }
    .container-fluid {
        font-family: arial;
        font-size: 6px;
        /*margin: 0 auto auto auto;*/
        width: 99%;
        height: 200px;
        outline: solid 1px #FFFFFF;
    }
    #ImgFDA {
        max-width: 250px;
        max-height: 80px;
    }
    #img1 {
        width: 115px;
        height: 115px;
    }
    #imgQrFDA {
        width: 210px;
        height: 210px;
    }
    #imgQrNoFDA {
        width: 195px;
        height: 195px;
    }

    div.logo {
        background-image: url("/Icon/FDA Number.jpg");
      /*  -moz-transform:scale(0.75);
        -webkit-transform:scale(0.75);
        transform:scale(0.75);*/
    }
    .portrait {
        height: 40px;
        width: 700px;

    }
    .br1 {
        height: 30px;
    }
    /*  @@page {
            size: auto;
            size: A3;
            margin: 0mm;
        }

        @@media print {
            #header, #nav .noprint {
                display: none;
            }

            body {
                height: 75px;
                width: 180px;
                margin: 4px 7px 2px 4px;
            }
        }

        @@media screen {
            .hideonprint {
                display: table-cell;
            }
        }*/
</style>
<body>
    @*<table>
        <thead>
            <tr>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>*@
    @{
        int i = 1;
        string linkfda = "";
        string properties = "";
    }
    @{ string strPathAndQuery = Convert.ToString(Context.Request.Protocol) + "" + Convert.ToString(Context.Request.PathBase); }
    @foreach (var l in Model.Data)
    {
        <table width="100%" class="container-fluid" border="0">
            <tr><td colspan="2">&nbsp;</td></tr>
            <tr>
                <td width="60%" style="">
                    <strong>
                        <font size="2" face="Tahoma">
                            Address To: &nbsp;<br>
                            &nbsp;นำเข้าและจัดจำหน่ายโดย<br>
                            &nbsp;บริษัท อุดมเมดิคอล อิควิปเม้นท์ จำกัด<br>
                            &nbsp;เลขที่ 80 ซอยพัฒนาการ69 แขวงประเวศ<br>
                            &nbsp;เขตประเวศ กรุงเทพฯ 10250<br>
                            &nbsp;โทร.02-320-1234 , 085-344-3444<br>
                        </font>
                    </strong><hr style="background-color: #000000">
                </td>
                <td width="40%" style="vertical-align: baseline;">
                    <font size="3" face="Tahoma" style="font-weight:bold">
                        Delivery Date
                        @Convert.ToDateTime(l.DeliveryDate).ToString("dd/MM/yyyy")
                    </font>
                </td>
            </tr>
            <tr>
                <td valign="top">
                    <strong>
                        <font size="2" face="Tahoma">
                            Address To: <br> &nbsp;
                            @if (@l.AddressTo == "" || @l.AddressTo == null)
                            {
                            <div>Empty AddressTo</div>
                            }
                            else
                            {
                            @l.AddressTo
                            }
                        </font>
                    </strong>
                </td>
                <td align="center">
                    <img src="@Url.Action("GenerateQRCodeSaleOrder","SaleOrder")?DocNum=@l.DocNum" id="imgQrNoFDA" /><br>
                    <font size="+0">@l.DocNum</font>
                </td>
            </tr>
        </table>

    @*<div class="br1"><br></div>*@
        i = i + 1;
    @*<label><font size="3">&nbsp;</font></label>*@
    }
    @*</tr>
            </tbody>
        </table>*@

    @*<font color="red">=== @i ====</font>*@

    <script>
        //window.print();
        //onafterprint = function () {
        //    this.window.history.back();
        //}
        oncancel = function () {
            this.window.history.back();
        }
        genQR();
        function genQR() {
            var gapi = "https://chart.googleapis.com/chart?chf=bg,s,65432100&cht=qr&chs=";
            var myimg = document.getElementById("img");
            var myimg1 = document.getElementById("img1");
            var myimg2 = document.getElementById("img2");
            var mytext = "Hello";
            var mytext1 = "welcom";
            var mytext2 = "Hi";
            //myimg.src = gapi + "90x90&chl=" + mytext;
            //myimg1.src = gapi + "60x60&chl=" + mytext1;
            // myimg2.src = gapi + "60x60" + "&chl=" + mytext2;

        }
    </script>
</body>
</html>
