@{
    ViewData["Title"] = "O2O";
    var dt = DateTime.Now;
    ViewData["Date"] = dt.ToShortDateString();
}

<link href="~/css/DataTable/jquery.dataTables.min.css" rel="stylesheet"/>
<link href="~/css/DataTable/rowReorder.dataTables.min.css" rel="stylesheet"/>
@*<link href="~/css/DataTable/responsive.dataTables.min.css" rel="stylesheet" />*@
<script src="~/css/DataTable/jquery-3.3.1.js"></script>
<script src="~/css/DataTable/jquery.dataTables.min.js"></script>
<script src="~/css/DataTable/dataTables.rowReorder.min.js"></script>
@*<script src="~/css/DataTable/dataTables.responsive.min.js"></script>*@

<style>
    tr.selected {
        background: red;
        color: red;
    }

    #main { position: absolute; }

    .color_tap {
        background-color: #5f95c3;
        color: #ffffff;
        font-weight: 600;
        margin-right: 1px;
        min-width: 60px;
    }

    .nav-tabs .nav-link {
        border: 1px solid rgb(193, 193, 193);
        border-radius: 0px 12px 0px 0px;
        height: 40px;
        line-height: 20px;
    }

    .modal { z-index: 200000; }

    .modal-header {
        background: #5f95c3;
        color: #ffffff;
        height: 40px;
    }

    .modal-header b { margin-top: -10px; }

    #TbAR table tr td {
        height: 35px;
        margin-left: 15px;
        margin-top: 10px;
        padding: 0px !important;
        position: relative !important;
        /*background-color: none;*/
    }

    table tbody tr td {
        background-color: #ffffff;
        color: black;
    }

    table tbody tr.selected td {
        background: #94d8e1;
        color: red;
    }

    table tbody tr.selected td .clsinput {
        background: #94d8e1;
        color: red;
    }

    .clsinput:focus { outline: none; }
</style>

<div id="#main">

<div class="row" style="color: #696969; margin-left: 5px; margin-top: 5px;">
    <h5 style="color: #696969; margin-top: 5px;">
        <a onclick="return confirm('Unsaved data will be lost. Do you want to continue without saving?')"><i class="fas fa-home"></i> Dashboard</a>
        <span>
            <a onclick="return confirm('Unsaved data will be lost. Do you want to continue without saving?')"><i class="fa fa-caret-right align-right"></i>Good Receipt PO</a>
            <i class="fa fa-caret-right align-right"></i> Create Good Receipt PO
        </span>
    </h5>
</div>
<hr/>
<div style="color: #696969; padding: 10px;">
<ul class="nav nav-tabs Tap-PA" id="mytab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active color_tap" id="cus-tab" data-toggle="tab" href="#cus" role="tab" aria-controls="Customer" aria-selected="true">Customer</a>
    </li>
    <li class="nav-item">
        <a class="nav-link color_tap" id="item-tab" data-toggle="tab" href="#item" role="tab" aria-controls="Items" aria-selected="false">Items</a>
    </li>
</ul>
<div class="tab-content" id="myTabContent">
<div class="tab-pane fade show active" id="cus" role="tabpanel" aria-labelledby="cus-tab" style="margin-top: 10px">
    <div class="row">
        <div class="col-sm-6">
            <div>
                Vendor Code :
                <div class="input-group">
                    <div class="input-group-prepend">
                        <button class="input-group-text" id="CcusID">
                            <i class="fa fa-check"></i>
                        </button>
                    </div>
                    <input type="text" class="form-control" placeholder="Search Code" id="CusID" value="" readonly>
                    <div class="input-group-append">
                        <button class="input-group-text btnModelsCus" data-toggle="modal" data-target="#ModalCusCode">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div>
                Vender Name :
                <div class="input-group">
                    <input type="text" class="form-control" id="CusName" value="" readonly>
                </div>
            </div>
            Order Number :
            <div class="input-group">
                <input type="text" class="form-control" id="OrderNumberID">
            </div>
            Remarks :
            <div class="input-group">
                <textarea class="form-control" id="Remark" rows="3"></textarea>
            </div>
        </div>
        <div class="col-sm-6">
            <div>
                Series :
                <div class="input-group">
                    <select id="SeriesID" class="form-control">
                    </select>
                </div>
            </div>
            <div>
                Posting Date :
                <div class="input-group">
                    <input type="date" class="form-control" id="DocDate">
                </div>
            </div>
            <div>
                Document Date :
                <div class="input-group">
                    <input type="date" class="form-control" id="DocumentDate">
                </div>
            </div>
            <div>
                BP Currency :
                <div class="input-group">
                    <select class="form-control" id="BPDocCurr"></select>
                </div>
            </div>
            Sales Employees :
            <div class="input-group">
                <select class="form-control" id="SaleEmp"></select>
            </div>

        </div>
    </div>
</div>

<div class="tab-pane fade" id="item" role="tabpanel" aria-labelledby="item-tab" style="margin-top: 10px">
    <div class="row">
        <div class="col-sm-6">
            Item Code :
            <div class="input-group">
                <div class="input-group-prepend">
                    <button class="input-group-text" id="CItemCode">
                        <i class="fa fa-check"></i>
                    </button>
                </div>
                <input type="text" class="form-control" placeholder="Search Code" id="ItemCode">
                <div class="input-group-append">
                    <button class="input-group-text btnModelsItem" data-toggle="modal" data-target="#ModalItem">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
            </div>
            Item Descrition :
            <div class="input-group">
                <input type="text" class="form-control" id="ItemDescr" readonly>
            </div>
            Quantity :
            <div class="input-group">
                <input type="number" class="form-control" value="1" id="Qty">
            </div>

            <div>
                Unit Price :
                <div class="input-group">
                    <div class="input-group-prepend">
                        <input type="button" class="input-group-text" id="DocCurr"/>
                    </div>
                    <input type="number" class="form-control" id="Price" value="0">
                </div>
            </div>

            <div>
                Discount(%) :
                <div class="input-group">
                    <input type="number" class="form-control" value="0" id="Discount" onchange="LineDiscountPer()">
                </div>
                Discount Amount :
                <div class="input-group">
                    <input type="number" class="form-control" value="0" id="DiscountAmt" onchange="LinDiscountAMT()">
                </div>
            </div>
            
        </div>
        <div class="col-sm-6">
            <div>
                VAT Code :
                <div class="input-group">
                    <select id="TaxCode" class="form-control">
                    </select>
                </div>
            </div>
            <div>
                Warehouse :
                <div class="input-group">
                    <select id="whscode" class="form-control">
                    </select>
                </div>
            </div>
            <div>
                Uom Name :
                <div class="input-group">
                    <select id="UomID" class="form-control">
                    </select>
                </div>
            </div>
            <div>
                Total :
                <div class="input-group">
                    <input type="number" class="form-control" value="0" id="totalItem" disabled>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="padding: 15px;">
        <div class="nav navbar-nav ml-auto">
            <button class="btn btn-info" id="AddItem" style="background: #f0eff1; color: #696969">Add Item</button>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="table-responsive">
                <table id="TbAR" class="table table-striped table-bordered dt-responsive nowrap" width="100%" cellspacing="0" style="background: #f0eff1; color: #696969;">
                    <thead>
                    <tr>
                        <th>ItemCode</th>
                        <th>UnitPrice</th>
                        <th>Discount(%)</th>
                        <th>Dis.Amount</th>
                        <th>Qty</th>
                        <th>Price Before Discount</th>
                        <th>Line Total</th>
                        <th>Uom Name</th>
                        <th>TaxCode</th>
                        <th>Warehouse</th>
                        <th>BatchOrSerial</th>
                        <th>Command</th>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>

    <div class="row" style="margin-top: 5px;">
        <div class="col-sm-4">
        </div>
        <div class="col-sm-4">
            Discount % :
            <input type="number" class="form-control" value="0" id="DisPer"/>
            Discount Amount :
            <input type="number" class="form-control" value="0" id="DisAmt"/>
        </div>
        <div class="col-sm-4">
            Before Discount :
            <input class="form-control" readonly id="BTax"/>
            Discount By Items :
            <input class="form-control" readonly id="DisA"/>
            @*Tax Amount :*@
            <input class="form-control d-none" readonly id="Tax"/>
            <input class="d-none" id="TaxBeforeDis"/>
            Total Amount :
            <input class="form-control" readonly id="Total"/>
        </div>
    </div>
</div>
</div>
<hr/>
<div class="row" style="margin-bottom: -20px; margin-top: -20px; padding: 15px;">
    <div class="nav navbar-nav ml-auto">
        <div class="btn-group">
            @*<button class="btn btn-info previous" style="background:#f0eff1;color:#696969">Previous</button>
                        <button class="btn btn-info next" style="background: #f0eff1;color: #696969;">Next</button>*@
            <button class="btn btn-info" id="CopyFromPO" style="background: #f0eff1; color: #696969;"
                    data-toggle="modal" data-target="#ModalCopyFromPO" disabled>
                Copy From PO
            </button>
            <button class="btn btn-info" id="Save" style="background: #f0eff1; color: #696969; margin-left: 5px;">Add New</button>
        </div>
    </div>
</div>
</div>
<hr/>
</div>

@*Block Models*@
<div class="modal modal-backdrop" id="Modalloder" role="dialog" data-backdrop="static">
    <div class="modal-dialog modal-dialog-centered modal-sm">
        <div class="modal-content" style="background: #f0eff1; color: #696969;">
            <div class="modal-body">
                <div class="text-center">
                    <div class="spinner-border text-primary" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="ModalSuccess" role="dialog" data-backdrop="static">
    <div class="modal-dialog modal-dialog-centered modal-sm">
        <div class="modal-content" style="background: #f0eff1; color: #696969;">
            <div class="modal-header">
                <b>Information</b>
            </div>
            <div class="modal-body">
                <p id="ErrMsg"> - </p>
            </div>
            <div class="modal-footer">
                <button class="btn-sm btn-success" data-dismiss="modal" style="color: #696969;">OK</button>
            </div>
        </div>
    </div>
</div>

@*Create Models*@
@*1. Search Customer Code*@
<div class="modal fade" id="ModalCusCode">
    <div class="modal-dialog modal-xl">
        <div class="modal-content" style="background: #f0eff1; color: #696969;">
            <div class="modal-header">
                <b>List of Customer</b>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <div class="row">
                        <div class="col-sm-12">
                            <table id="TbCusCode" class="table table-striped table-bordered dt-responsive nowrap" width="100%" cellspacing="0" style="background: #f0eff1; color: #696969;">
                                <thead>
                                <tr>
                                    <th>Customer Code</th>
                                    <th>Cusetomer Name</th>
                                    <th>Phone</th>
                                    <th>Address</th>
                                </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-info" data-dismiss="modal" id="ChooseCus" style="background: #f0eff1; color: #696969;">Choose</button>
                <button class="btn btn-info" data-dismiss="modal" style="background: #f0eff1; color: #696969;">Close</button>
            </div>
        </div>
    </div>
</div>

@*2. Search ItemCode*@
<div class="modal fade" id="ModalItem">
    <div class="modal-dialog modal-xl">
        <div class="modal-content" style="background: #f0eff1; color: #696969;">
            <div class="modal-header">
                <b>List of Items</b>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <div class="row">
                        <div class="col-sm-12">
                            <table id="TbItem" class="table table-striped table-bordered dt-responsive nowrap" width="100%" cellspacing="0" style="background: #f0eff1; color: #696969;">
                                <thead>
                                <tr>
                                    <th>Item Code</th>
                                    <th>Item Descrition</th>
                                    <th>Unit Price</th>
                                    <th>In Stock</th>
                                    <th>BarCode</th>
                                </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-info" data-dismiss="modal" id="ChooseItem" style="background: #f0eff1; color: #696969;">Choose</button>
                <button class="btn btn-info" data-dismiss="modal" style="background: #f0eff1; color: #696969;">Close</button>
            </div>
        </div>
    </div>
</div>


@*Copy From PO*@
<div class="modal fade" id="ModalCopyFromPO" data-backdrop="static">
    <div class="modal-dialog modal-xl">
        <div class="modal-content" style="background: #f0eff1; color: #696969;">
            <div class="modal-header">
                <b>Purchase Order</b>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <div class="row">
                        <div class="col-sm-12">
                            <table id="TbCopyFromPO" class="table table-striped table-bordered dt-responsive nowrap" width="100%" cellspacing="0" style="background: #f0eff1; color: #696969;">
                                <thead>
                                <tr>
                                    <th>Receipt No(SAP)</th>
                                    <th>Vendor Name</th>
                                    <th>Document Date</th>
                                    <th>DocTotal</th>
                                    <th>Document Status</th>
                                </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-info" data-dismiss="modal" id="ChoosePO" style="background: #f0eff1; color: #696969;">Choose</button>
                <button class="btn btn-info" data-dismiss="modal" style="background: #f0eff1; color: #696969;">Close</button>
            </div>
        </div>
    </div>
</div>
@*Generate Batch*@
<div class="modal fade " id="ModalBarCodeSerail" data-backdrop="static">
    <div class="modal-dialog modal-xl">
        <div class="modal-content" style="background: #f0eff1; color: #696969;">
            <div class="modal-header">
                <b>Serial Numbers - Setup</b>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col-6">
                            <input type="hidden" id="txtRowID"/>
                            <input type="hidden" id="txtScriptID"/>
                            Item Code :
                            <div class="input-group">
                                <input type="text" class="form-control" id="ItemCodeSerial" disabled="disabled">
                            </div>
                        </div>
                        <div class="col-6">
                            QTY :
                            <div class="input-group">
                                <input type="text" class="form-control" id="ItemCodeSerialQty" readonly="readonly">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            Serial Number :
                            <div class="input-group">
                                <input type="text" class="form-control" id="SerialNumber">
                                <div class="input-group-append">
                                    <button class="input-group-text" id="btnSerialNumGennerate"><i class="fa fa-file-medical"></i>&nbsp; Generate</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            Mfr Serial No. :
                            <div class="input-group">
                                <input type="text" class="form-control" id="txtManfrSerial">
                            </div>
                        </div>
                        <div class="col-6">
                            Exp Date :
                            <div class="input-group">
                                <input type="date" class="form-control" id="txtExpireDate">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6"></div>
                        <div class="col-6">
                            <button class="btn btn-info float-right mt-4 mb-4" id="BtnSaveSerial" style="background: #f0eff1; color: #696969;">Save</button>
                        </div>
                    </div>
                </div>

                <div class="table-responsive">
                    <div class="row">
                        <div class="col-12">
                            <table id="TbSerial" class="table table-striped table-bordered dt-responsive nowrap" width="100%" cellspacing="0" style="background: #f0eff1; color: #696969;">
                                <thead>
                                <tr>
                                    <th>Serial Number</th>
                                    <th>Mfr Serial No.</th>
                                    <th>Expiration Date</th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                            </table>
                        </div> 
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-info" data-dismiss="modal" style="background: #f0eff1; color: #696969;">Close</button>
            </div>
        </div>
    </div>
</div>
<script src="~/js/tengkimleang/goodReceiptPO/GetMasterGoodReceiptPO.js"></script>
<script src="~/js/tengkimleang/Method/MethodDataTable.js"></script>
<script src="~/js/Array.js"></script>
<script src="~/js/tengkimleang/goodReceiptPO/Service/IEventCopyFromPO.js"></script>
<script src="~/js/tengkimleang/goodReceiptPO/Service/EventCopyFromPO.js"></script>
<script src="~/js/tengkimleang/goodReceiptPO/Service/IEventItemAdd.js"></script>
<script src="~/js/tengkimleang/goodReceiptPO/Service/EventAddItemService.js"></script>
<script src="~/js/tengkimleang/goodReceiptPO/Service/IEventSaveGoodReceipt.js"></script>
<script src="~/js/tengkimleang/goodReceiptPO/Service/EventSaveGoodReceiptService.js"></script>
<script src="~/js/tengkimleang/goodReceiptPO/CreatePO.js"></script>



<script type="text/javascript">
    /* Init DataTable */


    /* DataTable List Of Item */
    let LinesAR = [];
    DataTableInit.TableItemLine();
    var tbItemLine = $('#TbAR').DataTable();
    DataMethod.AddClassSelected("TbAR", tbItemLine);
    /* End DataTable List Of ItemLine */


    /* DataTable List Of Item Code */
    var LItm = [];
    DataTableInit.TableSearchItemCode();
    var tbItemSearch = $('#TbItem').DataTable();
    DataMethod.AddClassSelected("TbItem", tbItemSearch);
    $(".btnModelsItem").click(function() {
        $("#ModalItem").modal({ backdrop: "static" });
        EventItemAdd.getItemCode('@Url.Action("GetItemActionResult","GoodsReceiptPO")');
    });
    /* End DataTable List Of Item Code */

    /* DataTable List Purchase Order*/
    var temporyListPO = [];
    var LCopyFromPO = [];
    DataTableInit.TablePurchaseOrder();
    var TbCopyFromPO = $("#TbCopyFromPO").DataTable();
    $('#TbCopyFromPO tbody').on('click',
        'tr',
        function() {
            temporyListPO = [];
            if ($(this).hasClass('selected')) {
                temporyListPO = DataMethod.arrayRemove(temporyListPO, $(this)[0]._DT_RowIndex);
            } else {
                temporyListPO.push($(this)[0]._DT_RowIndex);
            }
        });
    DataMethod.AddClassSelected('TbCopyFromPO', TbCopyFromPO);
    /*End Purchase Order*/

    /* DataTable List Of Customer */
    var LCus = [];
    DataTableInit.TableCustomer();
    var tbCus = $('#TbCusCode').DataTable();
    DataMethod.AddClassSelected('TbCusCode', tbCus);
    $(".btnModelsCus").click(function() {
        $("#ModalCusCode").modal({ backdrop: "static" });
        GetMasterData.getCustomer('@Url.Action("GetCustomerClientResult", "GoodsReceiptPO")');
    });
    $('#ChooseCus').click(function() {
        const index = tbCus.row('.selected').index();
        const data = tbCus.row(index).data();
        $('#CusID').val(data.cardCode);
        $('#CusName').val(data.cardName);
        $('#CcusID').css('background-color', '#4CAF50');
        $('#CopyFromPO').removeAttr("disabled");
        GetMasterData.getCurrency('@Url.Action("GetCurrency", "GoodsReceiptPO")', data.cardCode);
    });
    /* End DataTable List Of Customer */

    /* DataTable Init Serial */
    var lsSerial = [];
    //DataTableInit.TableSerial1();
    $('#TbSerial').dataTable({
            bLengthChange: false,
            bFilter: false,
            bInfo: false,
            bPaginate: false,
            data: lsSerial,
            columns:
            [
                    { data: "SerialNumber", autoWidth: true },
                {
                    data: "MfrSerialNo",
                    autoWidth: true
                    // render: function (data, type, full, meta) { return '<input type="number" class="clsinput" style="padding:0px; position:absolute;width:100px;border:none;" onchange="PriceChange(' + meta.row + ')" id="tbPrice' + meta.row + '" value="' + full.UnitPrice + '">'; }, autoWidth: true
                },
                {
                    data: "ExpDate",
                    autoWidth: true
                    //render: function (data, type, full, meta) { return '<input type="number" class="clsinput" style="padding:0px; position:absolute;width:100px;border:none;" onchange="DisChange('+meta.row+')" value="'+full.Discount+'" id="tbDis'+meta.row+'" >'; }, autoWidth: true
                },
                {
                    render: function(data, type, full, meta) {
                        return '<button class="btn-sm btn-danger" style="margin-left: 40%;" onClick="EventItemAdd.DeleteArray(lsSerial,'+full.SerialNumber+')"><i class="fas fa-trash-alt"></i></button>';
                    }
                }
            ],
            rowCallback: function(row, data, index) {
                //$('td', row).css('background-color', '#ffffff');
                //$('td', row).css('color', '#717171');
            }
        });
    var tbSerial1 = $('#TbSerial').DataTable();
    /* End DataTable Init Serial */

    /* End Init DataTable */

    // #region Init Master
    GetMasterData.getSeries("", '@ViewData["Date"]', '@Url.Action("GetSeries", "GoodsReceiptPO")', '20');
    GetMasterData.getSaleEmployee('@Url.Action("GetSaleEmployeeResult", "GoodsReceiptPO")');
    GetMasterData.getTaxCode('@Url.Action("GetTaxCodeResult", "GoodsReceiptPO")');
    GetMasterData.getWarehouse('@Url.Action("GetWarehouseResult", "GoodsReceiptPO")');
    // #endregion

    // #region EventChange DocDate
    $("#DocDate").change(function() {
        GetMasterData.getSeries($("#DocDate").val(), '@ViewData["Date"]', '@Url.Action("GetSeries", "GoodsReceiptPO")', '20');
    });
    // #endregion
    // #region EventChange Discount
    $("#DisPer").change(function() {
        var total = ($("#BTax").val() - $("#DisA").val()).toFixed(2);
        total = (total * ($("#DisPer").val()/100)).toFixed(2);
        $("#DisAmt").val(total);
        $("#Total").val((($("#BTax").val() - $("#DisA").val()).toFixed(2)-total).toFixed(2));

    });
    $("#DisAmt").change(function() {
        var total = ($("#BTax").val() - $("#DisA").val()).toFixed(2);
        total = (($("#DisAmt").val() / total)*100).toFixed(2);
        $("#DisPer").val(total);
        $("#Total").val((($("#BTax").val() - $("#DisA").val()).toFixed(2)-$("#DisAmt").val()).toFixed(2));
    });
    // #endregion

    // #region Onchange BP Currency

    $("#BPDocCurr").change(function() {
        $("#DocCurr").val($("#BPDocCurr").val());
    });
    // #endregion
    
    $('#AddItem').click(function() {
        alert("Not Yet Do");
    });

    $('#Save').click(function() {
        EventSaveGoodReceiptPO.sendGoodReceiptPO();
    });


    // Item Code
    $('#ChooseItem').click(function() {
        const index = tbItemSearch.row('.selected').index();
        const data = tbItemSearch.row(index).data();
        $('#ItemCode').val(data.itemCode);
        $('#ItemDescr').val(data.itemName);
        $('#CItemCode').css('background-color', '#4CAF50');

    });
    // End Item Code

    // Copy From PO
    $('#ChoosePO').click(function() {
        LinesAR = [];
        const result = EventCopyFromPOService.ChoosePO_Click(temporyListPO, TbCopyFromPO);
        LinesAR = result.linesAR;
        $('#Remark').val(`Based On Purchase Orders ${result.remark}`);
        $('#Total').val(result.docTotal);
        $("#DisPer").val(result.discountPercentage);
        $("#DisAmt").val(result.discountAmount);
        $("#DisA").val(result.discountLine);
        $("#BTax").val(Number(result.lineTotal + result.discountLine).toFixed(2));
        tbItemLine.clear();
        tbItemLine.rows.add(LinesAR);
        tbItemLine.search('').draw();
    });
    $('#CopyFromPO').click(function() {
        temporyListPO = [];
        if ($("#CusID").val() != "") {
            const cardCode = $("#CusID").val();
            GetMasterData.getPurchaseOrder('@Url.Action("GetPurchaseOrderByCardCode", "GoodsReceiptPO")', cardCode);
        } else {
            alert("Please Select Customer, if you don't select can bind data");
        }
    });
    // End Copy From PO

    //Save Serial

    $("#BtnSaveSerial").click(function() {
        if ($("#SerialNumber").val() === "" || $("#SerialNumber").val() === null) {
            alert("Please Enter Seril Number Save!");
        } else {
            if ($("#ItemCodeSerialQty").val() <= 0) {
                alert("Cannot save Serial with Qty Zero!");
            } else {
                if ($("#btnSerialNumGennerate").val()) {
                    alert("Please Enter Serial!");
                } else {
                    EventItemAdd.iEventItemAdd.BtnSaveSerial_ClickSave1();
                    console.log(lsSerial);
                    tbSerial1.clear();
                    tbSerial1.rows.add(lsSerial);
                    tbSerial1.search("").draw();
                }
            }
        }
    });
    $("#btnSerialNumGennerate").click(function() {
        if ($("#ItemCodeSerialQty").val() <= 0) {
            alert("Cannot save Serial with Qty Zero!");
        } else {
            const objSave = new IEventItemAdd();
            objSave.GenerateSerialOrBatch('@Url.Action("GetSerialBatchResult", "GoodsReceiptPO")', $("#ItemCodeSerial").val(), 1, 'S');
            //$("#SerialNumber").val(a);
        }
    });

    //End Save Serial

    $(".modal-header").on("mousedown",
        function(mousedownEvt) {
            var $draggable = $(this);
            var x = mousedownEvt.pageX - $draggable.offset().left,
                y = mousedownEvt.pageY - $draggable.offset().top;
            $("body").on("mousemove.draggable",
                function(mousemoveEvt) {
                    $draggable.closest(".modal-dialog").offset({
                        "left": mousemoveEvt.pageX - x,
                        "top": mousemoveEvt.pageY - y
                    });
                });
            $("body").one("mouseup",
                function() {
                    $("body").off("mousemove.draggable");
                });
            $draggable.closest(".modal").one("bs.modal.hide",
                function() {
                    $("body").off("mousemove.draggable");
                });
        }
    );
    $('#DocDate').val(formatDate('@ViewData["Date"]'));
    $('#DocumentDate').val(formatDate('@ViewData["Date"]'));

    function formatDate(date) {
        const d = new Date(date);
        var month = `${d.getMonth() + 1}`,
            day = `${d.getDate()}`;
        const year = d.getFullYear();
        if (month.length < 2)
            month = `0${month}`;
        if (day.length < 2)
            day = `0${day}`;

        return [year, month, day].join('-');
    }

</script>