@{
    ViewData["Title"] = "InventoryTransfer (Borrow bills)";
    DateTime dt = DateTime.Now;
    ViewData["Date"] = dt.ToShortDateString();
}

<link href="~/css/DataTable/jquery.dataTables.min.css" rel="stylesheet" />
<link href="~/css/DataTable/rowReorder.dataTables.min.css" rel="stylesheet" />
@*<link href="~/css/DataTable/responsive.dataTables.min.css" rel="stylesheet" />*@

<script src="~/css/DataTable/jquery-3.3.1.js"></script>
<script src="~/css/DataTable/jquery.dataTables.min.js"></script>
<script src="~/css/DataTable/dataTables.rowReorder.min.js"></script>
<script src="~/css/DataTable/moment.min.js"></script>
<script src="~/css/DataTable/datetime-moment.js"></script>

<script src="https://cdn.datatables.net/buttons/1.6.1/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/select/1.3.1/js/dataTables.select.min.js"></script>
<script src="https://editor.datatables.net/extensions/Editor/js/dataTables.editor.min.js"></script>

<script type="text/javascript">
    /*DocDate*/
    $(document).ready(function () {
        var now = new Date();
        var day = ("0" + now.getDate()).slice(-2);
        var month = ("0" + (now.getMonth() + 1)).slice(-2);
        var today = now.getFullYear() + "-" + (month) + "-" + (day);
        $('#DocDate').val(today);
        $('#DocumentDate').val(today);
    });
</script>

<style>
    tr.selected {
        background: red;
        color: red;
    }

    #main {
        position: absolute;
    }

    .color_tap {
        min-width: 60px;
        background-color: #5f95c3;
        color: #ffffff;
        font-weight: 600;
        margin-right: 1px;
    }

    .nav-tabs .nav-link {
        border-radius: 0px 12px 0px 0px;
        border: 1px solid rgb(193, 193, 193);
        height: 40px;
        line-height: 20px;
    }

    .modal {
        z-index: 200000;
    }

    .modal-header {
        background: #5f95c3;
        height: 40px;
        color: #ffffff;
    }

        .modal-header b {
            margin-top: -10px;
        }

    #TbAR table tr td {
        position: relative !important;
        padding: 0px !important;
        height: 35px;
        margin-left: 15px;
        margin-top: 10px;
        background-color: none;
    }

    table tbody tr td {
        background-color: #ffffff;
        color: black;
    }

    table tbody tr.selected td {
        background: #94d8e1;
        color: red;
    }

        table tbody tr.selected td .clsinput {
            background: #94d8e1;
            color: red;
        }

    .clsinput:focus {
        outline: none;
    }
</style>

<div id="#main">
    @* TimeLine *@
    <div class="row" style="margin-left:5px;margin-top:5px;color:#696969;">
        <h5 style="margin-top:5px;color:#696969;">
            <a asp-action="DashboardInventory" asp-controller="Dashboard" onclick="return confirm('Unsaved data will be lost. Do you want to continue without saving?')"><i class="fas fa-home"></i> Dashboard</a>
            <span>
                <a asp-action="ShowInventory" asp-controller="InventoryTransfer" onclick="return confirm('Unsaved data will be lost. Do you want to continue without saving?')"><i class="fa fa-caret-right align-right"></i> Inventory Transfer</a>
                <i class="fa fa-caret-right align-right"></i> Create InventoryTransfer (Borrow Bills)
            </span>
        </h5>
    </div>
    <hr />

    <div style="padding: 10px; color: #696969;">
        <ul class="nav nav-tabs Tap-PA" id="mytab" role="tablist">
            @*<li class="nav-item">
                    <a class="nav-link active color_tap" id="cus-tab" data-toggle="tab" href="#cus" role="tab" aria-controls="Customer" aria-selected="true">Customer</a>
                </li>*@
            <li class="nav-item">
                <a class="nav-link color_tap" id="item-tab" data-toggle="tab" href="#item" role="tab" aria-controls="Items" aria-selected="false">Add Data</a>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">

            <div class="tab-pane fade show active" id="item" role="tabpanel" aria-labelledby="item-tab" style="margin-top: 10px">
                <div class="row">
                    <div class="col-sm-6">
                        Search IFR No. : <input type="text" id="txtDocEntry" readonly />
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <button class="input-group-text" id="Cifr"><i class="fa fa-check"></i></button>
                            </div>
                            <input type="text" class="form-control" placeholder="" id="DocNum" value="">
                            <div class="input-group-append">
                                <button class="input-group-text btnModelsItem" data-toggle="modal" data-target="#ModalInfReq"><i class="fa fa-search"></i></button>
                            </div>
                        </div>
                        Series :
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <button class="input-group-text" id="Cifr"><i class="fa fa-check"></i></button>
                            </div>
                            <input type="text" class="form-control" placeholder="" id="txtSeries" value="">
                            <div class="input-group-append">
                                <button class="input-group-text btnModelsItem" data-toggle="modal" data-target="#ModalSeries"><i class="fa fa-search"></i></button>
                            </div>
                        </div>
                        Customer Code :
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <button class="input-group-text" id="CItemCode"><i class="fa fa-check"></i></button>
                            </div>
                            <input type="text" class="form-control" placeholder="" id="CardCode" disabled>
                            @*<div class="input-group-append">
                                    <button class="input-group-text btnModelsItem" data-toggle="modal" data-target="#ModalCusCode"><i class="fa fa-search"></i></button>
                                </div>*@
                        </div>
                        Customer Name :
                        <div class="input-group">
                            <input type="text" class="form-control" id="CardName" disabled>
                        </div>

                        <div>
                            Posting Date :
                            <div class="input-group">
                                <input type="date" class="form-control" id="DocDate">
                            </div>
                        </div>
                        <div>
                            Document Date :
                            <div class="input-group">
                                <input type="date" class="form-control" id="DocumentDate">
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div>
                            From Warehouse :
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <button class="input-group-text" id="COcrCode"><i class="fa fa-check"></i></button>
                                </div>
                                <input type="text" class="form-control" placeholder="" value="" id="FromWhsCode" disabled>
                                <!--<div class="input-group-append">
                                <button class="input-group-text btnModelsOcrCode" data-toggle="modal" data-target="#ModalWarehouse"><i class="fa fa-search"></i></button>-->
                                @*ModalFromWhsCode*@
                                <!--</div>-->
                            </div>
                        </div>
                        @*<div>
                                From Bin Location :
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <button class="input-group-text" id="COcrCode2"><i class="fa fa-check"></i></button>
                                    </div>
                                    <input type="text" class="form-control" placeholder="" value="" id="FromBinCode" disabled>
                                    <input type="text" class="form-control" placeholder="Search Code" value="C62" id="OcrCode2">
                                    <div class="input-group-append">
                                        <button class="input-group-text btnModelsOcrCode2" data-toggle="modal" data-target="#ModalBinLocation"><i class="fa fa-search"></i></button>ModalFromBinCode
                                    </div>
                                </div>
                            </div>*@
                        <div>
                            To Warehouse :
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <button class="input-group-text" id="COcrCode3"><i class="fa fa-check"></i></button>
                                </div>
                                <input type="text" class="form-control" placeholder="" id="ToWhsCode" value="" disabled>
                                <!--<div class="input-group-append">
                                <button class="input-group-text btnModelsOcrCode3" data-toggle="modal" data-target="#ModalToWarehouse"><i class="fa fa-search"></i></button>-->
                                @*ModalToWhsCode*@
                                <!--</div>-->
                            </div>
                        </div>
                        <div>
                            To Bin Location :
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <button class="input-group-text" id="COcrCode4"><i class="fa fa-check"></i></button>
                                </div>
                                <input type="text" class="form-control" placeholder="" id="ToBinCode" value="">
                                <div class="input-group-append">
                                    <button class="input-group-text btnModelsOcrCode4" data-toggle="modal" data-target="#ModalToBinLocation"><i class="fa fa-search"></i></button>@*ModalToBinCode*@
                                </div>
                            </div>
                        </div>

                        Sale Employee :
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <button class="input-group-text" id="COcrCode4"><i class="fa fa-check"></i></button>
                            </div>
                            <input type="text" class="form-control" placeholder="" id="SlpCode" value="" disabled>
                            @*<div class="input-group-append">
                                    <button class="input-group-text btnModelsOcrCode4" data-toggle="modal" data-target="#ModalSaleEmployee"><i class="fa fa-search"></i></button>
                                </div>*@
                        </div>
                        <div>
                            Journal Remark :
                            <div class="input-group">
                                <input type="text" class="form-control" value="" id="jrnlMemo">
                            </div>
                        </div>
                        <div>
                            Remark :
                            <div class="input-group">
                                <input type="text" class="form-control" value="" id="comments">
                            </div>
                        </div>


                        <div align="center">
                            <br>
                            <div><button class="btn btn-primary btn-lg btn-block" id="btnSeatch" onclick="fncLoadData()"> Search </button></div>
                            <div><button class="btn btn-danger btn-lg btn-block" id="btnClear"> Clear </button></div>
                        </div>

                    </div>
                </div>
                <hr>
                @* Load Data from Docnum *@
                <br>
                <div class="row" id="dataDocnum" style="display:block">
                    <div class="col-sm-12">
                        <div class="table-responsive">
                            <table id="TbDataLine" class="table table-striped table-bordered table-condensed dt-responsive nowrap text-xsmall" width="100%" cellspacing="0" style="background:#f0eff1;color:#696969;">
                                <thead>
                                    <tr>
                                        @*<th>No</th>*@
                                        @*<th>Barcode</th>*@
                                        <th>ItemCode</th>
                                        <th>ItemName</th>
                                        <th>SAP-QTY</th>
                                        <th>FromWarehouse</th>
                                        <th>ToWarehouse</th>
                                        <th>UomCode</th>
                                        <th>Unit Price</th>
                                    </tr>
                                </thead>
                            </table>

                            <br />

                            <div class="col-sm-6">
                                <div>
                                    ItemName : <input type="text" id="txtItemName" class="form-control" value="" style="background-color: cornsilk;" readonly />
                                    Quantity : <input type="text" id="txtQuantity" class="form-control" value="" style="background-color: cornsilk;" readonly />
                                </div>
                                <hr>
                                <div>
                                    <label>
                                        Input Quantity :
                                    </label>
                                    <div class="input-group">
                                        <input type="number" class="form-control" placeholder="" id="Quantity" value="1" style="background-color: antiquewhite; border: 3px solid #000000; margin: 0 auto; text-align: center; ">
                                    </div>

                                    <label>
                                        Scan Barcode :
                                    </label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" value="" id="txtScanBarCode" style="background-color: antiquewhite; border: 3px solid #000000; margin: 0 auto; text-align: center; ">
                                    </div>

                                    <label>
                                        Scan Batch/Serial :
                                    </label><div class="input-group">
                                        <input type="text" class="form-control" value="" id="txtScanBatchSerial" style="background-color: antiquewhite; border: 3px solid #000000; margin: 0 auto; text-align: center; ">
                                    </div>
                                    <button class="input-group-text" id="addRow" style="display:none;"><i class="fa fa-plus"></i></button>
                                </div>
                            </div>
                            <hr>
                            @*Add Data From ScanItem*@
                            <div><font size="+1" style="font-weight:bold"><u>List Data From Scan</u></font></div>
                            <div id="GetStcokBatchSerial01">
                                <input type="text" id="getItemCode" />
                                <input type="text" id="getOnHand" />
                                <input type="text" id="getSerialNumber" />
                                <input type="text" id="getBatchNumber" />
                            </div>

                            <table id="tbItemList" class="display" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>ItemCode</th>
                                        <th>ItemName</th>
                                        <th>Quantity</th>
                                    </tr>
                                </thead>
                            </table>

                        </div>
                    </div>
                    <hr>
                    <div class="row" style="padding: 15px;margin-top:-20px;margin-bottom:-20px;">
                        <div class="nav navbar-nav ml-auto">
                            <div class="btn-group">
                                <button class="btn btn-success" id="Save" style="margin-left:5px;" onclick="test1()">Send To SAP</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>

    <div class="table-responsive">

        <table id="myTable" class="table table-striped table-bordered table-condensed dt-responsive nowrap text-xsmall" style="width: 100%;"></table>

    </div>

    @*Create Models*@
    @*0. Search Inventory Transfer Request *@
    <div class="modal fade" id="ModalInfReq">
        <div class="modal-dialog modal-xl">
            <div class="modal-content" style="background:#f0eff1;color:#696969;">
                <div class="modal-header">
                    <b>List of Inventory Transfer Request</b>
                </div>
                <div class="modal-body">
                    <div class="table-responsive">
                        <div class="row">
                            <div class="col-sm-12">
                                <table id="TbInf" class="table table-striped table-bordered dt-responsive nowrap" width="100%" cellspacing="0" style="background:#f0eff1;color:#696969;">
                                    <thead>
                                        <tr>
                                            <th>DocNum</th>
                                            <th>Posting Date</th>
                                            <th>CardCode</th>
                                            <th>CardName</th>
                                            <th>slpCode</th>
                                            <th>slpName</th>
                                            <th>fromWhs</th>
                                            <th>toWhs</th>
                                            <th>DocEntry</th>
                                            <th>SeriesName</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-info" data-dismiss="modal" id="ChooseInf" style="background:#f0eff1;color:#696969;">Choose</button>
                    <button class="btn btn-info" data-dismiss="modal" style="background:#f0eff1;color:#696969;">Close</button>
                </div>
            </div>
        </div>
    </div>

    @*1. Search Customer Code*@
    <div class="modal fade" id="ModalCusCode">
        <div class="modal-dialog modal-xl">
            <div class="modal-content" style="background:#f0eff1;color:#696969;">
                <div class="modal-header">
                    <b>List of Customer</b>
                </div>
                <div class="modal-body">
                    <div class="table-responsive">
                        <div class="row">
                            <div class="col-sm-12">
                                <table id="TbCusCode" class="table table-striped table-bordered dt-responsive nowrap" width="100%" cellspacing="0" style="background:#f0eff1;color:#696969;">
                                    <thead>
                                        <tr>
                                            <th>Customer Code</th>
                                            <th>Cusetomer Name</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-info" data-dismiss="modal" id="ChooseCus" style="background:#f0eff1;color:#696969;">Choose</button>
                    <button class="btn btn-info" data-dismiss="modal" style="background:#f0eff1;color:#696969;">Close</button>
                </div>
            </div>
        </div>
    </div>

    @*2. Search Warehouse*@
    <div class="modal fade" id="ModalWarehouse">
        <div class="modal-dialog modal-xl">
            <div class="modal-content" style="background:#f0eff1;color:#696969;">
                <div class="modal-header">
                    <b>List of Warehouse</b>
                </div>
                <div class="modal-body">
                    <div class="table-responsive">
                        <div class="row">
                            <div class="col-sm-12">
                                <table id="TbWhs" class="table table-striped table-bordered dt-responsive nowrap" width="100%" cellspacing="0" style="background:#f0eff1;color:#696969;">
                                    <thead>
                                        <tr>
                                            <th>WhsCode</th>
                                            <th>WhsName</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-info" data-dismiss="modal" id="ChooseWhs" style="background:#f0eff1;color:#696969;">Choose</button>
                    <button class="btn btn-info" data-dismiss="modal" style="background:#f0eff1;color:#696969;">Close</button>
                </div>
            </div>
        </div>
    </div>

    @*3. Search Bin Location*@
    <div class="modal fade" id="ModalBinLocation">
        <div class="modal-dialog modal-xl">
            <div class="modal-content" style="background:#f0eff1;color:#696969;">
                <div class="modal-header">
                    <b>List of Bin Location</b>
                </div>
                <div class="modal-body">
                    <div class="table-responsive">
                        <div class="row">
                            <div class="col-sm-12">
                                <table id="TbBinLocation" class="table table-striped table-bordered dt-responsive nowrap" width="100%" cellspacing="0" style="background:#f0eff1;color:#696969;">
                                    <thead>
                                        <tr>
                                            <th>BinCode</th>
                                            <th>BinName</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-info" data-dismiss="modal" id="ChooseBinLocation" style="background:#f0eff1;color:#696969;">Choose</button>
                    <button class="btn btn-info" data-dismiss="modal" style="background:#f0eff1;color:#696969;">Close</button>
                </div>
            </div>
        </div>
    </div>

    @*4. Search To Warehouse*@
    <div class="modal fade" id="ModalToWarehouse">
        <div class="modal-dialog modal-xl">
            <div class="modal-content" style="background:#f0eff1;color:#696969;">
                <div class="modal-header">
                    <b>List of Warehouse</b>
                </div>
                <div class="modal-body">
                    <div class="table-responsive">
                        <div class="row">
                            <div class="col-sm-12">
                                <table id="TbToWhs" class="table table-striped table-bordered dt-responsive nowrap" width="100%" cellspacing="0" style="background:#f0eff1;color:#696969;">
                                    <thead>
                                        <tr>
                                            <th>WhsCode</th>
                                            <th>WhsName</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-info" data-dismiss="modal" id="ChooseToWhs" style="background:#f0eff1;color:#696969;">Choose</button>
                    <button class="btn btn-info" data-dismiss="modal" style="background:#f0eff1;color:#696969;">Close</button>
                </div>
            </div>
        </div>
    </div>

    @*5. Search To Bin Location*@
    <div class="modal fade" id="ModalToBinLocation">
        <div class="modal-dialog modal-xl">
            <div class="modal-content" style="background:#f0eff1;color:#696969;">
                <div class="modal-header">
                    <b>List of Bin Location</b>
                </div>
                <div class="modal-body">
                    <div class="table-responsive">
                        <div class="row">
                            <div class="col-sm-12">
                                <table id="TbToBinLocation" class="table table-striped table-bordered dt-responsive nowrap" width="100%" cellspacing="0" style="background:#f0eff1;color:#696969;">
                                    <thead>
                                        <tr>
                                            <th>BinCode</th>
                                            <th>BinName</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-info" data-dismiss="modal" id="ChooseToBinLocation" style="background:#f0eff1;color:#696969;">Choose</button>
                    <button class="btn btn-info" data-dismiss="modal" style="background:#f0eff1;color:#696969;">Close</button>
                </div>
            </div>
        </div>
    </div>

    @*6. Search SaleEmployee*@
    <div class="modal fade" id="ModalSaleEmployee">
        <div class="modal-dialog modal-xl">
            <div class="modal-content" style="background:#f0eff1;color:#696969;">
                <div class="modal-header">
                    <b>List of Employee</b>
                </div>
                <div class="modal-body">
                    <div class="table-responsive">
                        <div class="row">
                            <div class="col-sm-12">
                                <table id="TbSaleEmployee" class="table table-striped table-bordered dt-responsive nowrap" width="100%" cellspacing="0" style="background:#f0eff1;color:#696969;">
                                    <thead>
                                        <tr>
                                            <th>SlpCode</th>
                                            <th>SlpName</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-info" data-dismiss="modal" id="ChooseSaleEmployee" style="background:#f0eff1;color:#696969;">Choose</button>
                    <button class="btn btn-info" data-dismiss="modal" style="background:#f0eff1;color:#696969;">Close</button>
                </div>
            </div>
        </div>
    </div>

    @*7. Search Series IM*@
    <div class="modal fade" id="ModalSeries">
        <div class="modal-dialog modal-xl">
            <div class="modal-content" style="background:#f0eff1;color:#696969;">
                <div class="modal-header">
                    <b>List of Series</b>
                </div>
                <div class="modal-body">
                    <div class="table-responsive">
                        <div class="row">
                            <div class="col-sm-12">
                                <table id="TbSeries" class="table table-striped table-bordered dt-responsive nowrap" width="100%" cellspacing="0" style="background:#f0eff1;color:#696969;">
                                    <thead>
                                        <tr>
                                            <th>Series</th>
                                            <th>SeriesName</th>
                                            <th>YYYY-MM</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-info" data-dismiss="modal" id="ChooseSeries" style="background:#f0eff1;color:#696969;">Choose</button>
                    <button class="btn btn-info" data-dismiss="modal" id="CloseSeries" style="background:#f0eff1;color:#696969;">Close</button>
                </div>
            </div>
        </div>
    </div>

    <script src="~/js/Array.js"></script>
    <script type="text/javascript">

     function test1() {
        //$.ajax({
            @*url: '@Url.Action("GetStcok_BatchSerial", "Inventory")',
            data: { barcode: $('#txtScanBarCode').val(), batchserial: $('#txtScanBatchSerial').val()},
            type: "GET",
            dataType: "JSON",
            beforeSend: function () {
                },
            success: function (data) {
                    console.log(data);
                    if (data.errorCode == 0) {
                        alert("I can get Data from Restful Service");
                    } else {
                        alert("Oppp Maybe Internal Error Look Like this:" + data.errorMessage);
                    }
                }
            });*@
         alert("Coming Soon ...");
         //data: { barcode: ""},
    }

    //+++++ GetInventoryTransferRequestLine +++++
    var table0 = $('#TbInf').DataTable({
        "ajax": {
            "url": '@Url.Action("GetOWTQ", "Inventory")',
            "type": "GET",
            "dataType": "JSON",
            "dataSrc": 'data',
            "complete": function (data) {
                console.log("GetOWTQ Complete.");
            }
        },
        "columns": [
            { "data": "docNum" },
            { "data": "docDate" },
            { "data": "cardCode" },
            { "data": "cardName" },
            { "data": "slpCode" },
            { "data": "slpName" },
            { "data": "fromWhs" },
            { "data": "toWhs" },
            { "data": "docEntry" },
            { "data": "seriesName"}
        ],
        "order": [[0, 'desc']],
        "select": true,
        "paging": false,
        "ordering": false,
        "info": false,
        "searching": false
    });

    table0.columns([4, 5, 6, 7]).visible(false, false);

    table0.on('select', function () {

        var celldocNum = table0.rows({ selected: true }).data()[0]['docNum'];
        var cellcardCode = table0.rows({ selected: true }).data()[0]['cardCode'];
        var cellcardName = table0.rows({ selected: true }).data()[0]['cardName'];
        var cellSlp = table0.rows({ selected: true }).data()[0]['slpCode'] + ' - ' + table0.rows({ selected: true }).data()[0]['slpName'];
        var cellfromWhs = table0.rows({ selected: true }).data()[0]['fromWhs'];
        var celltoWhs = table0.rows({ selected: true }).data()[0]['toWhs'];
        var celldocEntry = table0.rows({ selected: true }).data()[0]['docEntry'];
        //console.log(rowData);

        $('#ChooseInf').click(function () {
            var txtDocNum = document.getElementById("DocNum");
            var txtCardCode = document.getElementById("CardCode");
            var txtCardName = document.getElementById("CardName");
            var txtSlpCode = document.getElementById("SlpCode");
            var txtFromWhsCode = document.getElementById("FromWhsCode");
            var txtToWhsCode = document.getElementById("ToWhsCode");
            var txtDocEntry = document.getElementById("txtDocEntry");

            txtDocNum.value = celldocNum;
            txtCardCode.value = cellcardCode;
            txtCardName.value = cellcardName;
            txtSlpCode.value = cellSlp;
            txtFromWhsCode.value = cellfromWhs;
            txtToWhsCode.value = celltoWhs;
            txtDocEntry.value = celldocEntry;
        });
    });

    //Scan Bar Code
    var input = document.getElementById("txtScanBarCode");
    var input2 = document.getElementById("txtScanBatchSerial");
    input.addEventListener("keyup", function (event) {
        if (event.keyCode === 13) {
            event.preventDefault();
            document.getElementById("txtScanBatchSerial").focus();
            input2.addEventListener("keyup", function (event) {
                if (event.keyCode === 13) {
                    event.preventDefault();
                    document.getElementById("addRow").click();
                }
            });
        }
    });

    //Add Data In Row
    var t = $('#tbItemList').DataTable({
         "columns": [
            { "width": "10%" },
            { "width": "20%" },
            { "width": "5%" }
        ],
        "select": true,
        "paging": false,
        "ordering": false,
        "info": false,
        "searching": false
    });

    $('#addRow').on('click', function () {

        if ($('#txtScanBatchSerial').val()!='') {

            $.ajax({
                url: '@Url.Action("GetStcok_BatchSerial", "Inventory")',
                data: { barcode: $('#txtScanBarCode').val(), batchserial: $('#txtScanBatchSerial').val()},
                type: "GET",
                dataType: "JSON",
                "dataSrc": 'data',
                success: function (data) {
                    var jqueryXml = $(data);
                    $('#getItemCode').val(jqueryXml[0].data[0].itemCode);
                    $('#getOnHand').val(jqueryXml[0].data[0].onHand);

                    if ($('#getItemCode').val()!='') {
                        t.row.add([$('#getItemCode').val(), $('#txtItemName').val(), $('#txtQuantity').val()]).draw(false);
                    }

                }
            });


        }

    });

    $('#addRow').click();

    function xComments() {
    //+++++ GetContactPerson +++++
    @*var table = $('#TbCusCode').DataTable({
        "ajax": {
            "url": '@Url.Action("GetContactPerson", "Home")',
            "type": "GET",
            "dataType": "JSON",
            "dataSrc": 'data'
        },
        "columns": [
            { "data": "cardCode" },
            { "data": "name" },
        ],
        "order": [[1, 'asc']],
        "select": true,
        "paging": false,
        "ordering": false,
        "info": false
        });

    $('#TbCusCode tbody').on('click', 'tr', function () {

        if ($(this).hasClass('selected')) {
            $(this).removeClass('selected');
        }
        else {
            table.$('tr.selected').removeClass('selected');
            $(this).addClass('selected');

            var cc = table.rows({ selected: true }).count();
            const rowCardCode = [];
            const rowCardName = [];
            for (let i = 0; i < cc; i++) {
                rowCardCode[i] = table.rows({ selected: true }).data()[i]['cardCode'];
                rowCardName[i] = table.rows({ selected: true }).data()[i]['name'];
            }

            var tr = $(this).closest("tr");
            var rowindex = tr.index();

            //alert(rowCardCode[rowindex]);
            $('#ChooseCus').click(function () {
                var CardCode = document.getElementById("CardCode");
                var CardName = document.getElementById("CardName");
                CardCode.value = rowCardCode[rowindex];
                CardName.value = rowCardName[rowindex];
            });

        }
    });*@

    //+++++ GetSaleEmployee +++++
    @*var table2 = $('#TbSaleEmployee').DataTable({
        "ajax": {
            "url": '@Url.Action("GetSaleEmployee", "Home")',
            "type": "GET",
            "dataType": "JSON",
            "dataSrc": 'data'
        },
        "columns": [

            { "data": "slpCode" },
            { "data": "slpName" },
        ],
        "paging": false,
        "ordering": false,
        "info": false
    });

    $('#TbSaleEmployee tbody').on('click', 'tr', function () {
        if ($(this).hasClass('selected')) {
            $(this).removeClass('selected');
        }
        else {
            table2.$('tr.selected').removeClass('selected');
            $(this).addClass('selected');

            var cc2 = table2.rows({ selected: true }).count();
            const rowslpCode = [];
            const rowslpName = [];
            for (let i = 0; i < cc2; i++) {
                rowslpCode[i] = table2.rows({ selected: true }).data()[i]['slpCode'];
                rowslpName[i] = table2.rows({ selected: true }).data()[i]['slpName'];
            }

            var tr = $(this).closest("tr");
            var rowindex2 = tr.index();

            //alert(rowCardCode[rowindex]);
            $('#ChooseSaleEmployee').click(function () {
                var txtSlpCode = document.getElementById("SlpCode");
                //var CardName = document.getElementById("CardName");
                txtSlpCode.value = rowslpCode[rowindex2];
                //CardName.value = rowCardName[rowindex];
            });
        }
    });*@

    //+++++ GetFromWarehouse +++++
    @*var table3 = $('#TbWhs').DataTable({
        "ajax": {
            "url": '@Url.Action("GetWarehouse", "Home")',
            "type": "GET",
            "dataType": "JSON",
            "dataSrc": 'data'
        },
        "columns": [
            { "data": "whsCode" },
            { "data": "whsName" },
        ],
        "paging": false,
        "ordering": false,
        "info": false
    });

    $('#TbWhs tbody').on('click', 'tr', function () {
        if ($(this).hasClass('selected')) {
            $(this).removeClass('selected');
        }
        else {
            table3.$('tr.selected').removeClass('selected');
            $(this).addClass('selected');

            var cc3 = table3.rows({ selected: true }).count();
            const rowwhsCode = [];
            const rowwhsName = [];
            for (let i = 0; i < cc3; i++) {
                rowwhsCode[i] = table3.rows({ selected: true }).data()[i]['whsCode'];
                rowwhsName[i] = table3.rows({ selected: true }).data()[i]['whsName'];
            }

            var tr = $(this).closest("tr");
            var rowindex3 = tr.index();

            //alert(rowCardCode[rowindex]);
            $('#TbWhs').click(function () {
                var txtFromWhsCode = document.getElementById("FromWhsCode");
                txtFromWhsCode.value = rowwhsCode[rowindex3];
            });
        }
    });*@

    //+++++ GetFromBinLocation +++++
    @*var table4 = $('#TbBinLocation').DataTable({
        "ajax": {
            "url": '@Url.Action("GetBinLocation", "Home")',
            "type": "GET",
            "dataType": "JSON",
            "dataSrc": 'data'
        },
        "columns": [
            { "data": "binCode" },
            { "data": "whsCode" },
        ],
        "paging": false,
        "ordering": false,
        "info": false
    });

    $('#TbBinLocation tbody').on('click', 'tr', function () {
        if ($(this).hasClass('selected')) {
            $(this).removeClass('selected');
        }
        else {
            table4.$('tr.selected').removeClass('selected');
            $(this).addClass('selected');

            var cc4 = table4.rows({ selected: true }).count();
            const rowbinCode = [];
            const rowwhsCode = [];
            for (let i = 0; i < cc4; i++) {
                rowbinCode[i] = table4.rows({ selected: true }).data()[i]['binCode'];
                rowwhsCode[i] = table4.rows({ selected: true }).data()[i]['whsCode'];
            }

            var tr = $(this).closest("tr");
            var rowindex4 = tr.index();

            //alert(rowCardCode[rowindex]);
            $('#TbBinLocation').click(function () {
                var txtFromBinCode = document.getElementById("FromBinCode");
                txtFromBinCode.value = rowbinCode[rowindex4];
            });
        }
    });*@
    }
    //+++++ GetToWarehouse +++++
    var tableToWhs = $('#TbToWhs').DataTable({
        "ajax": {
            "url": '@Url.Action("GetWarehouse", "Home")',
            "type": "GET",
            "dataType": "JSON",
            "dataSrc": 'data'
        },
        "columns": [
            { "data": "whsCode" },
            { "data": "whsName" },
        ],
        "paging": false,
        "ordering": false,
        "info": false
    });

    $('#TbToWhs tbody').on('click', 'tr', function () {
        if ($(this).hasClass('selected')) {
            $(this).removeClass('selected');
        }
        else {
            tableToWhs.$('tr.selected').removeClass('selected');
            $(this).addClass('selected');

            var cc4 = tableToWhs.rows({ selected: true }).count();
            const rowwhsCode = [];
            const rowwhsName = [];
            for (let i = 0; i < cc4; i++) {
                rowwhsCode[i] = tableToWhs.rows({ selected: true }).data()[i]['whsCode'];
                rowwhsName[i] = tableToWhs.rows({ selected: true }).data()[i]['whsName'];
            }

            var tr = $(this).closest("tr");
            var rowindex4 = tr.index();

            //alert(rowCardCode[rowindex]);
            $('#TbToWhs').click(function () {
                var txtToWhsCode = document.getElementById("ToWhsCode");
                txtToWhsCode.value = rowwhsCode[rowindex4];
            });
        }
    });

    //+++++ GetToBinLocation +++++
    var tableToBin = $('#TbToBinLocation').DataTable({
        "ajax": {
            "url": '@Url.Action("GetBinLocation", "Home")',
            "type": "GET",
            "dataType": "JSON",
            "dataSrc": 'data'
        },
        "columns": [
            { "data": "binCode" },
            { "data": "whsCode" },
        ],
        "select": true,
        "paging": false,
        "ordering": false,
        "info": false
    });

        tableToBin.on('select', function () {
            var cellbinCode = tableToBin.rows({ selected: true }).data()[0]['binCode'];
            $('#ChooseToBinLocation').click(function () {
                var txtToBinCode = document.getElementById("ToBinCode");
                txtToBinCode.value = cellbinCode;
            });
        });

    function ApplyDataTable(id) {

        $.noConflict();
        $.ajax({
            url: '@Url.Action("GetWTQLine", "Inventory")',
            data: { docentry: id },
            type: "GET",
            dataType: "JSON",
            "dataSrc": 'data',
            success: function (data) {
                var tline = $('#TbDataLine').DataTable({
                    "bDestroy": true,
                    "aaData": data.data,
                    "autoWidth": true,
                    "responsive": true,
                    "lengthChange": true,
                    "ordering": true,
                    "columns": [
                        { "data": "itemCode", "autoWidth": true },
                        { "data": "dscription", "autoWidth": true },
                        { "data": "quantity", "autoWidth": true },
                        { "data": "fromWhsCod", "autoWidth": true },
                        { "data": "whsCode", "autoWidth": true },
                        { "data": "uomCode", "autoWidth": true },
                        { "data": "u_unitprice", "autoWidth": true }
                    ],
                    "language": { "emptyTable": "No Events Found Related To This User" },
                    "order": [[0, 'desc']],
                    "select": true,
                    "paging": false,
                    "ordering": false,
                    "info": false,
                    "searching": false
                });
                alert("Download Data Complete");

                tline.on('select', function () {
                    var celldscription = tline.rows({ selected: true }).data()[0]['dscription'];
                    var cellquantity = tline.rows({ selected: true }).data()[0]['quantity'];

                    var txtItemName = document.getElementById("txtItemName");
                    var txtQuantity = document.getElementById("txtQuantity");
                    txtItemName.value = celldscription;
                    txtQuantity.value = cellquantity;

                    document.getElementById("txtScanBarCode").focus();
                    document.getElementById("txtScanBarCode").value = "";
                    document.getElementById("txtScanBatchSerial").value = "";
                });

            }
        });

        }

        function fncLoadData() {
        var docentry = $("#txtDocEntry").val();
            if (docentry != '') {
                ApplyDataTable(docentry);
            } else {
                alert("Please Select DocNum");
            }
        }

        $('#btnClear').on('click', function () {
            location.reload();
        });


        //Dropdown Series IM
        var tableSeriesIM = $('#TbSeries').DataTable({
            "ajax": {
            "url": '@Url.Action("GetSeriesIM", "Inventory")',
            "type": "GET",
            "dataType": "JSON",
            "dataSrc": 'data',
            "complete": function (data) {
                console.log("GetSeriesIM Complete.");
            }
        },
        "columns": [
            { "data": "series" },
            { "data": "seriesName" },
            { "data": "indicator" }
        ],
        "select": true,
        "paging": false,
        "ordering": false,
        "info": false,
        "searching": false
        });

        tableSeriesIM.on('select', function () {

            var cellSeries = tableSeriesIM.rows({ selected: true }).data()[0]['series'];
            $('#ChooseSeries').click(function () {
                var txtSeries = document.getElementById("txtSeries");
                txtSeries.value = cellSeries;
            });
        });


    </script>

